*{
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: url("images/med.jpg");
    
    background-size: cover;
    opacity: 1;
}
.logo img{
    width: 500px;
}
    
.navbar{
    padding: 20px;
    padding: 40px 0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 92, 92);
}
#hello{
    display: flex;
    flex-direction: row;
}
#hello a{
    margin-right: 30px;
    
    text-decoration: none;
    color:white;
    font-size: 18px;
    
}
#hello a:hover{
    background-color: rgb(33, 117, 99);
    transition: .5s;
    border-radius: 10px;
}
.searchbari{
    margin: 1% 30%;
    width: 50%;
    height: 50px;
}
.about{
    background: rgb(9, 41, 40);
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(12, 22, 30);
    
}
.pic{
    width: 32%;
}
.welcome{
    width: 60%;
}
.welcome h1{
    color: rgb(9, 35, 33);
    text-align: center;
    font-size: 75px;
}
.welcome h2{
    
    color: rgb(52, 6, 52);
    text-align: center;
    font-size: 40px;
}
.welcome p{
    font-size: x-large;
    color: black;
    width: 100%;
    text-align: center;
}
.pic{
    margin-left: 5%;
    margin-top: 5%;
}
.pic img{
    width: 800px;
}
#searchInput{
    width: 75%;
    height: 30px;
    border-radius: 15px;
}
