*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("images/med.jpg");
    margin: 0;
    padding: 0;
    background-size: cover;
    opacity: 1;
}
.logo img{
    width: 500px;
}
    
.navbar{
    padding: 40px 0;
    width: 100%;
    height: 150px;
    max-height: max-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(30, 92, 92);
}
.out {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.out a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    padding: 10px;
}


#hello a:hover{
    background-color: rgb(33, 117, 99);
    transition: .5s;
    border-radius: 10px;
}
.searchbari{
    margin: 1% 30%;
    width: 50%;
    height: 50px;
}
.about{
    background: rgb(9, 41, 40);
}
.content{
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(12, 22, 30);
    
}
.content img{
    margin-left: 150px;
    width: 42%;
    min-width: 500px;
}
.welcome{
    width: 46%;
}
.welcome h1{
    color: rgb(9, 35, 33);
    text-align: center;
    font-size: 75px;
}
.welcome h2{
    
    color: rgb(52, 6, 52);
    text-align: center;
    font-size: 40px;
}
.welcome p{
    font-size: x-large;
    color: black;
    width: 100%;
    text-align: center;
    text-wrap: wrap;
}

#searchInput{
    width: 75%;
    height: 30px;
    border-radius: 15px;
}
